body{
    margin: auto;
}

/*Textes*/

*{
    font-family: "Roboto", "Raleway", Arial, sans-serif;
    font-weight: normal;
}

h1{
    font-weight: lighter;
    margin-left: 30px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

li, h2{
    font-size: 16px;
}

label, #search-discipline{
    font-size: 13px;
    font-weight: lighter;
}


#search-discipline, h2{
    margin: 10px;
}

/*header*/

header div{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 125px;
}

header nav{
    background-color: #000;
    color: #FFF;
}

header nav a{
    color: #FFF;
}

header nav ul{
    display: flex;
    margin: 0px;
    padding: 8px 70px;
    height: 35px;
    margin-bottom: 15px;
}

header nav ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul div{
    border-left: 1px solid #FFF;
    margin: 0px 20px;
}


/*Container*/

.part-one{
    border-right: 1px solid #a2a2a2;
    width: 225px;
    margin-right: 25px;
}

.container{
    display: flex;
    margin: auto;
    justify-content: center;
}

#scroll{
    height: 400px;
    margin: 0px;
    padding: 0px;
    border: none;
    overflow-y: scroll;
}

#map-view{
    height: 500px;
    width: 920px;
}

#scroll::-webkit-scrollbar {
    all: unset !important;
}

#scroll::-webkit-scrollbar-track {
    background: transparent;
    width: 15px;
}

#scroll::-webkit-scrollbar-thumb {
    background-color: #a2a2a2;  
}

#scroll::-webkit-scrollbar {
    width: 12px;
}

#scroll{
    width: 234px;
}

#chooseADiscipline div{
    overflow: hidden;
}

#chooseADiscipline input[type="radio"]{
    display: none;
}

#chooseADiscipline input[type="radio"]:checked + label{
    background-color: aqua;
}

#chooseADiscipline label{
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 10px;
    padding-right: 0px;
}

#chooseAYear{
    display: flex;
    margin-top: 10px;
    height: 45px;
}

#chooseAYear h2{
    margin: 0px 0px 0px 10px;
}

#chooseAYear div{
    margin-left: 80px;
}

#chooseAYear div *{
    vertical-align: middle;
}

#chooseAYear input[type="radio"]{
    position: relative;
    appearance: unset;
    border: 1px solid black;
    width: 22px;
    height: 20px;
    border-radius: 16px;
}

#chooseAYear input[type="radio"]:checked::after{
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    background-color: black;
    border-radius: 16px;
}

#chooseAYear #listOfYear{
    vertical-align: top;
}


/*Statistiques*/
.part-three{
    width: 345px;
}

.key-figure{
    float: right;
}

.statistics{
    position: relative;
    border: 0.5px solid #a2a2a2;
}
.statistics .nodata{
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: #afafaf;
}


@media (max-width: 1515px) {
    .container{
        flex-wrap: wrap;
    }

    .part-three{
        display: flex;
        justify-content: center;
    }

    .statistics, .graph{
        width: 400px;
    }
}

@media (max-width: 1185px) {
    .container{
        flex-direction: column;
        align-items: center;
    }

    .part-one{
        width: 90%;
        border: none;
    }
    
    .part-two{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #chooseAYear{
        justify-content: space-between;
    }

    .map{
        width: 100%;
    }
    
    #map-view{
        width: 100%;
    }

    #scroll{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        margin-bottom: 20px;
    }
    
    #scroll label{
        width: 120px;
    }

    #scroll label{
        padding-right: 10px;
    }
}

@media (max-width: 1185px) {
    .part-three{
        flex-direction: column;
    }
}

@media (max-width: 640px) {
    header nav ul{
        padding: 0px;
        margin: 0px;
        height: 55px;
        display: flex;
        justify-content: space-around;
    }
    
    header nav ul div{
        margin: 0px;
    }

    header nav li{
        max-width: 30%;
    }
    
    header nav a{
        margin: 0px;
    }

    #chooseAYear{
        width: 100%;
    }
    
    #chooseAYear div{
        margin-left: 0px;
    }
    
    .map h2{
        width: 80%;
    }

    .statistics, .graph{
        width: 100%;
    }
}