        </div> <!-- Pour fermer la div container -->
        <footer>
            <p>&copy;2023, Best athletes by Carthagéo students</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.js"></script>