        </div> <!-- Pour fermer la div container -->
        <footer>
            <p>&copy;copyright Best athletes students of Cathagéo</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
        <script src="js/script.js"></script>
    </body>
</html>