<!doctype html>
<html lang="fr">

<head>
    <title>Best Athlete</title>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
    <script src="https://kit.fontawesome.com/f29716d619.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="js/leaflet-arrowheads.js" type="module"></script>
    <script src="js/leaflet-geometryutil.js" type="module"></script>
</head>
<body>
    <header>
        <div>
            <a id="logo" href="/">
                <img src="img/logo_margin.png" alt="Logo de Best Athlete">
                <h1>Best Athletes</h1>
            </a>
            <img src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Olympic_flag.svg" alt="Logo des JO">
        </div>
        <nav>
            <ul>
                <li><a href="/discipline">Pays par discipline</a></li>
                <div></div>
                <li><a href="/experience">Parcours d'un athlète</a></li>
                <div></div>
                <li><a href="/about">À propos</a></li>
            </ul>
        </nav>
    </header>
    <div class="container"> <!-- Ouverture de la div container -->