<%- include("_header") -%>

<div class="restrict_container">


    <section>
        <h2>Qui sommes-nous ?</h2>
    
        <p>
            Nous sommes Kevin Jiang, Quentin Marcel et Quentin Tchanwou, 3 étudiants du master Carthagéo co-habilité par l'ENSG Géomatique, l'Université Panthéon Sorbonne (Paris I), et l'Université Paris-Cité.
        </p>
    </section>
    
    <section>
        <h2>Objectif du cours</h2>
    
        <p>
            Ce site a été réalisé dans le cadre d'un projet universitaire en programmation et cartographie web qui consiste à créer une architechture web pour représenter sur un site web de la donnée géographique stockée sur un serveur.
    
    <section>
        <h2>Outils mobilisés</h2>
        <img src="img/outils.png" alt="outils" id = "outils">
    </section>
    
    <section>
        <h2>Page Github</h2>

        <p>
            Lien vers le repository Github : https://github.com/k9jiang/carto_web;
        </p>
    </section>
</div>



<%- include("_footer") -%>
</body>
</html>