<%- include("_header") -%>

<section class="part-one">
    <form id="chooseAnAthlete">
        <h2>Rechercher un athlète</h2>
        <fieldset id="submit">
            <input type="text" id="search-athlete" name="character" minlength="4" placeholder="Entrer le nom d'un athlète">
            <input type="submit">
        </fieldset>
        <fieldset id="scroll">
        </fieldset>
    </form>
</section>
<section class="part-two">
    <div class="map">
        <h2></h2>
        <div id="map-view"></div>
    </div>
</section>
<section class="part-three">
    <div id="description">
        <h2></h2>
        <div id="genre">
            <p>Genre : <span></span></p>
        </div>
        <div id="victory">
            <p>Part d'épreuve remportée : <span></span></p>
        </div>
        <div id="country">
            <p>Pays : <span></span></p>
        </div>
        <div id="disciplines_spec">
            <p>Discipline : <span></span></p>
        </div>
        <div id="medals_gain">
            <div class="gold">
                <i class="fas fa-medal"></i><span>0</span>
            </div>
            <div class="silver">
                <i class="fas fa-medal"></i><span>0</span>
            </div>
            <div class="bronze">
                <i class="fas fa-medal"></i><span>0</span>
            </div>
            <p>Total: <span></span></p>
        </div>
    </div>
</section>

<%- include("_footer") -%>

<script src="js/experience.js"></script>
</body>
</html>