<%- include("_header") -%>

<div class="restrict_container">


    <section>
        <h2>Qui sont les meilleurs athlètes ?</h2>
    
        <p>
            Best athletes propose un classement des meilleurs pays et des meilleurs athlètes en fonction du nombre de médailles rapportées. Il s'appuie sur une base de données regroupant l'ensemble des victoires de 1896 à 2014. Les modes de représentations allient cartographie et graphique en bar afin de rendre compte de la répartition spatiale et des différence de gains entre athlètes.  
        </p>
    </section>
    
    <section class="presentation_page">
        <h2>Une analyse à plusieurs échelles</h2>

        <img src="img/discipline.PNG" alt="discipline">
    
        <p>
            Le multi-échelle introduit le sujet de la concentration des médailles selon différents niveaux de zoom. La <a href="/" target="_blank" title="Pays par discipline">carte à l'échelle mondiale</a> montre la répartition des médailles en fonction des pays. Le graphique en bar de la même information présente le niveau d'écart entre les plus et les moins victorieux. Le second graphique invite l'utilisateur à un niveau d'échelle inférieur en lui permettant d'identifier les principaux athlètes faisant porter leur pays à leur rang actuel. 
        </p>
    </section>
    
    <section class="presentation_page">
        <h2>Des parcours individuels</h2>

        <img src="img/athlete.PNG" alt="athlete">

        <p>
            Enfin, <a href="/experience" target="_blank" title="Parcours d'un athlètes">une seconde page</a> plus individuel trace le parcours personnel d'un athlète à travers la localisation des lieux de participation aux jeux olympiques relier par des flèches indiquant l'ordre temporel. Une description détaillée de l'athlètes informe sur ses médailles remportées et le pays pour lequel il joue.
        </p>
    </section>
</div>



<%- include("_footer") -%>
</body>
</html>