<%- include("_header") -%>

<section class="part-one">
    <form id="chooseADiscipline">
        <h2>Sélectionner une discipline</h2>
        <input type="text" id="search-discipline" placeholder="Entrer une discipline">
        <div>
            <input type="radio" name="discipline" id="disciplines" value="disciplines">
             <label for="disciplines">Toutes les disciplines</label>
        </div>
        <fieldset id="scroll">
        </fieldset>
    </form>
</section>
<section class="part-two">
    <form id="chooseAYear">
        <h2>Statistiques</h2>
        <div>
            <input type="radio" id="year" name="year" value="allYears" checked>
            <label for="year">De 1886 à 2014</label>
        </div>
        <div>
            <input type="radio" name="year" id="year" value="year">
            <label for="year">Sur une année</label>
            <select id="listOfYear" name="listOfYear" disabled>
                <option value=''>Choisissez une année</option>
                <% for (const year of years) { %>
                    <option value="<%= year.year %>"><%= year.year %></option>
                <% } %>
            </select>
        </div>
    </form>
    <div class="map">
        <h2>Médaille dans le monde <span></span></h2>
        <div id="map-view"></div>
    </div>
</section>
<section class="part-three">
    <div class="statistics statistics-country">
        <div class="nodata">
            <h2>Aucun pays n'a participé</h2>
        </div>
        <div class="title">
            <h2>Classement des <span class="nb"></span> premiers pays</h2>
            <div class="key-figure">
                <p><span></span> athlètes possèdent</p>
                <p id="percentage"></p>
                <p>des médailles</p>
            </div>
        </div>
        <canvas class="graph"></canvas>
    </div>
    <div class="statistics statistics-athlete">
        <div class="nodata">
            <h2>Aucun athlète de <span></span> n'a participé au JO</h2>
        </div>
        <div class="title">
            <h2>Classement des <span class="nb"></span> athlètes <span class="country"></span></h2>
            <div class="key-figure">
                <p><span></span> athlètes possèdent</p>
                <p id="percentage"></p>
                <p>des médailles</p>
            </div>
        </div>
        <canvas class="graph"></canvas>
    </div>
</section>


<%- include("_footer") -%>
