<%- include("_header") -%>

<div class="restrict_container">


    <section>
        <h2>Qui sont les meilleurs athlètes ?</h2>
    
        <p>
            Best athletes propose un classement des meilleurs pays et des meilleurs athlètes en fonction du nombre de médailles rapportées. Il s'appuie sur une base de données regroupant l'ensemble médaillés de 1896 à 2014. Cartographie et graphiques en barres dynamiques sont mobilisés afin de rendre compte de la répartition spatiale et des différence entre athlètes.  
        </p>
    </section>
    
    <section class="presentation_page">
        <h2>Une analyse à plusieurs échelles</h2>

        <a href="/discipline" class="image" title="Pays par discipline">
            <img src="img/discipline.jpg" alt="discipline">
        </a>
    
        <p>
            Le multi-échelle introduit le sujet de la concentration des médailles selon différents facteurs. La carte à l'échelle mondiale montre la répartition des médailles en fonction des pays. Un graphique en barre y est associé et représente les meilleurs pays dans cette discipline. Le second graphique permet d'identifier les meilleurs athlètes selon l'année, le pays et la discipline si ces paramètres sont sélectionnés. 
        </p>
    </section>
    
    <section class="presentation_page">
        <h2>Des parcours individuels</h2>

        <a href="/experience" class="image" title="Parcours d'un athlète">
            <img src="img/parcours_athlete.jpg" alt="athlete">
        </a>

        <p>
            Enfin, une seconde page trace le parcours personnel d'un athlète à travers la localisation des lieux de participation aux jeux olympiques reliés par des flèches indiquant l'ordre temporel. Une fiche descriptive détaillée sur l'athlète informe sur ses médailles remportées et le pays qu'il représente.
        </p>
    </section>
</div>



<%- include("_footer") -%>
</body>
</html>